body {
    background-color: rgb(17, 20, 25);
}
.container {
    background: rgb(40,65, 57);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
    gap: 20px;
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
}
.controlbutton {
    color: rgb(248, 231, 148);
    background-color: rgb(128, 144, 118);
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    padding: 10px;
    border: 3px solid #200505;
    box-shadow: 
        inset -4px -4px 0px 0px #0b3532, 
        inset 4px 4px 0px 0px #fff492; 
    margin: 5px;
}
.controlbutton:disabled {
    color: rgb(193, 142, 127);
    background-color: rgb(149, 122, 123);
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    padding: 10px;
    border: 3px solid #200505;
    box-shadow: 
        inset -4px -4px 0px 0px #643636, 
        inset 4px 4px 0px 0px #d6a098; 
    margin: 5px;
}
.controlbutton:hover {
    background-color: rgb(184, 104, 144);
}
.text {
    color: rgb(248, 231, 148);
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin: 10px;
    line-height: 1.6;
    transform: scaleY(1.3);
    background-color: rgb(60, 84, 75);
    border-radius: 8px;
}
.startbutton {
    align-self: flex-end;
    margin-top: auto;
    color: rgb(248, 231, 148);
    background-color: rgb(128, 144, 118);
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    padding: 10px;
    border: 3px solid #200505;
    box-shadow: 
        inset -4px -4px 0px 0px #0b3532, 
        inset 4px 4px 0px 0px #fff492;  
    margin: 5px;
}
.startbutton:hover {
    background-color: rgb(184, 104, 144);
}
.timer {
    color: rgb(248, 231, 148);
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-shadow: 2px 2px 0px #0b3532; 
    margin-bottom: 10px;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert Text und Button innerhalb der Box */
    text-align: center;
}
.banner-content {
    background-color: #222;
    padding: 30px;
    text-align: center;
    max-width: 80%;
    border-radius: 8px;
}
.banner.hidden {
    display: none;
}
#banner-text {
    font-family: 'Press Start 2P', cursive;
    color: rgb(248, 231, 148);
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
    background-color: #3b3535;
    border-radius: 8px;
}
.pixel-art {
    image-rendering: pixelated;
    width: 100px; /* Oder die Originalgröße */
    height: auto;
}